body {
  background-color: #EAF6F6;
}

hr {
  border-style: dotted none none none;
  border-color: grey;
  width: 7%;
  border-width: 8px;
}

h1, h3{
  color: #66BFBF;
}

.profile-picture{
  height: 152px;
  width: 152px;
}

.mylink{
  text-decoration: none;
  color: #205375;
}

.mylink:hover{
  color: #66BFBF;
}
